body {
    color: rgb(65,75,86);
    font-family: arial;
    margin: 0px;
}
div {
    min-height: 70vh;
    width: 100vw;
}
h1, h2{
    text-align: center;
}
h1 {
    font-size: 5,5em;
}
h2 {
    font-size: 2,5em;
}
p {
    text-align: center;
    font-size: 2,5em;
}   
div.computercontainer{
    display:flex;
    align-items: center;
    flex-direction: row;
}
div.computer2{
    justify-content: center;
    align-self: center;
    text-align: center;
}
div.mousecontainer{
    display:flex;
    align-items: center;
    flex-direction: row;
}
div.mouse{
    justify-content: center;
    align-self: center;
    text-align: center;
}
div.iphonecontainer{
    display:flex;
    align-items: center;
    flex-direction: row;
}
div.iphone{
    justify-content: center;
    align-self: center;
    text-align: center;
}
div.ipadcontainer{
    display:flex;
    align-items: center;
    flex-direction: row;
}
div.ipad{
    justify-content: center;
    align-self: center;
    text-align: center;
}
div.headphonescontainer{
    display:flex;
    align-items: center;
    flex-direction: row;
}
div.headphones{
    justify-content: center;
    align-self: center;
    text-align: center;
}
